In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [2]:
deaths = pd.read_csv("annual-number-of-deaths-by-cause.csv")

In [3]:
births = pd.read_csv("annual-number-of-births-by-world-region.csv")

In [4]:
deaths_df = deaths[["Entity","Year","Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)"]].copy()

In [5]:
deaths_df = deaths_df.rename(columns={"Entity":"country","Year":"year","Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)": "neonatal_deaths"})

In [6]:
births_df = births.rename(columns={"Entity":"country", "Year":"year","Estimates, 1950 - 2020: Annually interpolated demographic indicators - Births (thousands)": "annual_births"})

In [7]:
births_df = births_df.drop('Code', axis=1)

In [8]:
connection_string = "postgres:Russiancream305@localhost:5432/Project2_tables"
engine = create_engine(f'postgresql://{connection_string}')

In [11]:
births_df.to_sql(name='births', con=engine, if_exists='append', index=False)
deaths_df.to_sql(name='neonatal_deaths', con=engine, if_exists='append', index=False)

In [10]:
deaths_df

          country  year  neonatal_deaths
0     Afghanistan  2007     28477.081107
1     Afghanistan  2008     28234.015837
2     Afghanistan  2009     27897.481121
3     Afghanistan  2011     27198.628720
4     Afghanistan  2012     26830.686222
...           ...   ...              ...
6681     Zimbabwe  2013      9439.290155
6682     Zimbabwe  2014      9106.657298
6683     Zimbabwe  2015      8887.033499
6684     Zimbabwe  2016      8653.776455
6685     Zimbabwe  2017      8411.915534

[6686 rows x 3 columns]

In [ ]:
births_df